<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <!--<link rel="apple-touch-icon" sizes="76x76" href="#">
  <!-- <link rel="icon" type="image/png" href="../assets/img/favicon.png">-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
   Image Classification
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- CSS Files -->
  <link  rel="stylesheet" type="text/css" href="{{url_for('static',filename='bootstrap.min.css')}}" />
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='now-ui-dashboard.css')}}"  />
  <link type="text/css" href="{{url_for('static',filename='demo/demo.css')}}" rel="stylesheet" />
  <style type="text/css">
    .upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
  </style>
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="orange">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a href="#" class="simple-text logo-mini">
          Image Classification 
        </a>
        <a href="#" class="simple-text logo-normal">
          Image Classification 
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="active ">
            <a href="{{url_for('index')}}">
              <i class="#"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li>
            <a href="{{url_for('overview')}}">
              <i class=""></i>
              <p>OverView</p>
            </a>
          </li>
          <li>
            <a href="{{url_for('analysis')}}">
              <i class=""></i>
              <p>Analysis</p>
            </a>
          </li>
          
          <li>
            <a href="{{url_for('classification')}}">
              <i class=""></i>
              <p>Image Classification</p>
            </a>
          </li>
          <li>
           <div class="upload-btn-wrapper">
               <button class="btn">Upload an Image</button>
                <input type="file" name="myfile" />
            </div>
          </li>
      
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
              </button>
            </div>
            <a class="navbar-brand" href="#pablo">Image Classification</a>
          </div>
          
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <form>
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <i class="#"></i>
                  </div>
                </div>
              </div>
            </form>
            
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="panel-header panel-header-lg">
        
      </div>
      <div class="content">
        <div class="row">
          <div class="col-lg-4">
           
          </div>
          <div class="col-lg-4 col-md-6">
            
          </div>
          <div class="col-lg-4 col-md-6">
            
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            
          </div>
          <div class="col-md-6">
            
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <div class="copyright">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>, Created By
            <a href="#" target="_blank">Dread_data_scietist</a>
            <a href="3" target="_blank">Dread_Data_Scientists</a>.
          </div>
        </div>
      </footer>
    </div>
  </div>
   <!--   Core JS Files   -->
  <script src="{{url_for('static',filename='jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename='popper.min.js')}}"></script>
  <script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
  <script src="{{url_for('static',filename='perfect-scrollbar.jquery.min.js')}}"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="{{url_for('static',filename='chartjs.min.js')}}"></script>
  <!--  Notifications Plugin    -->
  <script src="{{url_for('static',filename='bootstrap-notify.js')}}"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{{url_for('static',filename='now-ui-dashboard.min.js?v=1.1.0')}}" type="text/javascript"></script>
  <!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
  <script src="{{url_for('static',filename='demo.js')}}"></script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>
</body>

</html>
